/* Add a black background color to the top navigation */



.topnav {
    background-color: $color-principal;
    overflow: hidden;
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 10%;
    padding: 15px;
    align-items: center;
    z-index: 99;
    width: 100%;
  
    a {
      color: $blanco;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
  
      .icon {
        display: none;
      }
  
      &:hover {
        background-color: $blanco;
        color: $color-oscuro;
      }
    }
  
    .active {
      background-color: $verde-default;
      color: white;
    }
  }

  
  .burguer {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  
    .line {
      width: 40px;
      height: 4px;
      background-color: white;
      margin-block: 10px;
      border-radius: 5px;
      transition: transform .5s;
    }
  
    &:hover .line:nth-child(1) {
      transform: translateY(14px) rotate(45deg);
    }
  
    &:hover .line:nth-child(2) {
      opacity: 0;
    }
  
    &:hover .line:nth-child(3) {
      transform: translateY(-14px) rotate(-45deg);
    }
  }
  
  