@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes bounce {
    100% {
        transform: translateY(25px);
    }
}


@keyframes saludar {
    50% {
        transform: rotate(25deg);
    }
}