/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 730px) {

  .navbar {
    .menu {
      width: 100%;
      max-height: 0;
      overflow: hidden;

      .list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0px;

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;

          a {
            width: 100%;
          }
        }
      }
    }

    #toggler:checked~.menu {
      max-height: 100%;
    }

    .burguer .line {
      display: block;
    }
  }


}

@media screen and (max-width: 767px) {
  #imgMail {
    display: none;
  }
}