/* Colores tranquilos */
$color-principal: #11324D;
$color-oscuro: #072035;

$verde-default: #04AA6D;

$blanco: #F0F0F0;
$blanco-crem: #E0D8B0;


/* Colores neon/fluo  */
$cyan: #00ffff;
$neon : #FFE400;
$neon-verde:#2ef8a0;
$neon-violeta: #c501e2;
$neon-rosa: #f82d97;
$neon-celeste: #01c4e7;

